<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: lightgreen;">

    <hr>
    <a href="home">Home</a>|
    <a href="About">About</a>|
    <a href="Services">Services</a>|
    <a href="Blog">Blog</a>|
    <a href="Contact">Contact</a>
    <hr>

    <h1>Contact here</h1>
    <p>Number:151624161</p>
    <p>gmail:xyskui@gmail.com</p>
    ----------------------------
</body>
</html>