<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: pink;">
    <h1>Welcome to cybrom student protal</h1>
    <h2>We are glad to have you here..!!</h2>
</body>
</html>